<% provide(:title,'Productos')%>  
 <div class="container-fluid">
      <div class="row">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"> <h4>Productos</h4></li>
              <li><a href="#">alfombras</a></li>
              <li><a href="#">pisos</a></li>
              <li><a href="#">cielos</a></li>
              <li><a href="#">Ceramicas</a></li>
              <li><a href="#">Cortinas y toldos</a></li>
              <li><a href="#">papeles murales</a></li>
              <li><a href="#">productos tecnicos</a></li>
              <li><a href="#"></a></li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10"> 
          <div class="container">                  
            <h1 class="heading1"><span class="maintext">Alfombras</span></h1>
             <div class="row">
              <ul>
                  <% if @productos != nil %>                
                  <% @productos.each do |producto| %>
                  <li class="span3-fluid well"> 
                  <div class="thumbnail"> <a href="/productos/<%=producto.id%>">
                    <%if producto.imagen_file_name%>
                      <img alt="" src="<%=producto.imagen.url(:medium)%>"></a>
                    <%else%>
                      <img alt="" src="/assets/300x222.gif"></a>
                    <%end%>
                    <h5><b>Nombre del Producto</b></h5>
                      <a class="prdocutname" href="/productos/<%=producto.id%>"><%= producto.nombre %></a>     
                      <div class="price">
                      <div class="pricenew">Precio: $<%= producto.precio%></div>                              
                      </div>
                      </div>  
                  </li>
                  <% end %>
                  <% end %>
              </ul>
            </div>
            <h1 class="heading1"><span class="maintext">Pisos</span></h1>
             
            <h1 class="heading1"><span class="maintext">Cielos</span></h1>
            <h1 class="heading1"><span class="maintext">Ceramicas</span></h1>
            <h1 class="heading1"><span class="maintext">Cortinas y Toldos</span></h1>
            <h1 class="heading1"><span class="maintext">Papeles Murales</span></h1>
            <h1 class="heading1"><span class="maintext">Productos Tecnicos</span></h1>
          </div>
        </div>
    </div>

 
  
