
<section id="product">
        <div class="container"> 
            <div class="row"> 
                <!-- Left Image-->
                <div class="span5">
                    <ul class="thumbnails mainimage">
                       <li class="span5"> 
                        <%if @producto.imagen_file_name%>
                         <img src="<%=@producto.imagen.url%>" alt="" title=""class="img-rounded">
                        <%else%>
                           <img src="/assets/590x885.gif" alt="" title="" class="img-rounded">
                        <%end%>
                       </li>
                   </ul>
                    <span>mueve el raton sobre la imagen para acercar</span>                   
                </div>
                <!-- Right Details-->
                <div class="span7">
                    <div class="row">
                        <div class="span7 well">
                            <h1 class="productname"><span class="bgnone">Nombre del Producto</span></h1>
                            <h3><%= @producto.nombre %></h3>
                            <div class="productprice">
                                 <h1 class="productname"><span class="bgnone">Precio del Producto</span></h1>
                                <h3>$<%= @producto.precio %></h3>
                            </div>
                            <h1 class="productname"><span class="bgnone">Descripción del Producto</span></h1>
                            <h4><%= @producto.descripcion %></h4>                             
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <%if user_signed_in?%>
  <p id="notice"><%= notice %></p>
<%= link_to 'Modificar', edit_producto_path(@producto) %> | <%= link_to 'Volver', productos_path %>


  <%end%>